In [33]:
! pip install mlxtend 
import import_ipynb
import random
import string
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth
from mlxtend.preprocessing import TransactionEncoder
random.seed(10)

Requirement already satisfied: mlxtend in c:\users\hp\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [34]:
vocab=['A', 'B', 'C', 'D', 'E']
max_length=len(vocab)
N=12

In [35]:
def create_dataset(N, vocab, max_length):
    result=[]
    for i in range (N):
        n_items= random.randint(0,max_length)
        result.append([random.choice(vocab) for i in range (n_items)])
    return result

In [36]:
data = create_dataset(N, vocab, max_length)
print(data)

[['A', 'D', 'D', 'E'], [], ['D'], ['C', 'B', 'A'], ['D', 'C', 'A', 'B'], ['C', 'A', 'D', 'B', 'E'], ['D', 'D'], ['C', 'D'], ['C'], ['C', 'B', 'D', 'B', 'D'], ['D', 'A', 'E', 'A'], ['B']]

In [37]:
# Let's transform the list with one hot-encoding 
a= TransactionEncoder()
a_data = a.fit(data).transform(data)
df1= pd.DataFrame(a_data, columns= a.columns_)
df1 = df1.replace(False, 0)
df1

       A     B     C     D     E
0   True     0     0  True  True
1      0     0     0     0     0
2      0     0     0  True     0
3   True  True  True     0     0
4   True  True  True  True     0
5   True  True  True  True  True
6      0     0     0  True     0
7      0     0  True  True     0
8      0     0  True     0     0
9      0  True  True  True     0
10  True     0     0  True  True
11     0  True     0     0     0

In [38]:
df= apriori(df1, min_support = 0.3, use_colnames= True, verbose= 1)
df

Processing 3 combinations | Sampling itemset size 3

    support itemsets
0  0.416667      (A)
1  0.416667      (B)
2       0.5      (C)
3  0.666667      (D)
4  0.333333   (A, D)
5  0.333333   (B, C)
6  0.333333   (D, C)